<nav class="navbar navbar-expand-lg navbar-light bg-light ms-3">
  <a class="navbar-brand" href="#">Evently</a>
  <ul class="navbar-nav">
    <li *ngIf="isLoggedIn" class="nav-item">
      <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
    </li>
    <li *ngIf="isLoggedIn" class="nav-item">
      <a class="nav-link" routerLink="/participant" routerLinkActive="active">Participants</a>
    </li>
    <li *ngIf="isLoggedIn" class="nav-item">
      <a class="nav-link" routerLink="/relations" routerLinkActive="active">Relations</a>
    </li>
    <li *ngIf="isLoggedIn" class="nav-item">
      <a class="nav-link" routerLink="/statistics" routerLinkActive="active">Statistics dashboard</a>
    </li>
  </ul>
  <button
    *ngIf="isLoggedIn"
    class="btn btn-danger ms-auto me-3"
    (click)="onLogout()"
  >
    Disconnect
  </button>
</nav>
