<nav class="navbar navbar-expand-lg navbar-light bg-light ms-3">
  <a class="navbar-brand mb-0 h1" href="#">Evently</a>
  <ul class="navbar-nav">
    <li *ngIf="isLoggedIn" class="nav-item">
      <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
    </li>
    <li *ngIf="isLoggedIn" class="nav-item">
      <a class="nav-link" routerLink="/participant" routerLinkActive="active">Participants</a>
    </li>
    <li *ngIf="isLoggedIn" class="nav-item">
      <a class="nav-link" routerLink="/relations" routerLinkActive="active">Relations</a>
    </li>
    <li *ngIf="isLoggedIn" class="nav-item">
      <a class="nav-link" routerLink="/statistics" routerLinkActive="active">Statistics dashboard</a>
    </li>
  </ul>
  <div *ngIf="isLoggedIn" class="ms-auto me-3 d-flex align-items-center">
    <span class="me-3">Welcome {{ userName }}</span>
    <button
      class="btn btn-outline-danger"
      (click)="onLogout()"
    >
      Disconnect
    </button>
  </div>
</nav>
